<div class="row">
  <div class="col s2 offset-s2">
    <div class="card-panel light-blue darken-3">
      <span class="white-text">Total Questions Recorded: {{ questions.length }} </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m5">
    <div class="card-panel light-blue darken-3">
      <span class="white-text">As of today, you've helped:</span>
      <p><span class="white-text">{{numberFaculty}} faculty members</span></p>
      <p><span class="white-text">{{numberStaff}} staff members</span></p>
      <p><span class="white-text">{{numberGrad}} Graduate students</span></p>
      <p><span class="white-text">{{numberUnderGrad}} undergraduate students</span></p>
      <p><span class="white-text">{{numberCommunity}} members from the community</span></p>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col s6 m5">
    <div class="card-panel light-blue darken-3">
      <span class="white-text">You referred {{numberReferals}} questions to other parts of the campus</span>
    </div>
  </div>
</div>