<h4>{{selectedQuestion.label}}</h4>
      <!-- Edit Button -->
      <a class="btn-floating btn-small waves-effect waves-light purple secondary-content" ng-href="#/questions/{{selectedQuestion.id}}/edit">Edit</a>

<h5>Date: {{selectedQuestion.currentTime}}</h5>
<h2>Time: {{selectedQuestion.time}}</h2>
<h5>Question Label: {{selectedQuestion.label}}</h5>
<h5 ng-repeat="patronGroup in selectedQuestion.patronGroup">Patron Group: {{patronGroup}}</h5>
<h5 ng-repeat="timeSpent in selectedQuestion.timeSpent">Time Spent: {{timeSpent}}</h5>
<h5>Referral Necessary: {{selectedQuestion.referral.yes}} {{selectedQuestion.referral.no}}</h5>

