<h4>{{selectedQuestion.label}}</h4>
      <!-- Edit Button -->
      <a class="btn-floating btn-small waves-effect waves-light purple secondary-content" ng-href="#/questions/{{selectedQuestion.id}}/edit">Edit</a>

<h5>Date: {{selectedQuestion.date}}</h5>
<!-- <h2>Time: {{selectedQuestion.time}}</h2> -->
<h5>Question Label: {{selectedQuestion.label}}</h5>
<h5>Patron Group: {{selectedQuestion.patronGroup}}</h5>
<h5>Time Spent: {{selectedQuestion.timeSpent}}</h5>
<h5>Referral Necessary: {{selectedQuestion.referral}}</h5>