
  <div class="container">
  <div class="col s4">
  <input type="date" class="datepicker">
</div>
<!-- 
<div class="timePicker">
  <h6>Time picker? </h6>
</div>   -->

<div class="patronGroup">
  <h5>Patron Group</h5>
  <form action="#">
    <p>
      <input name="patronGroup" type="radio" id="faculty" value="faculty" ng-model="newQuestion.patronGroup.faculty"/>
      <label for="faculty">Faculty</label>
    </p>
    <p>
      <input name="patronGroup" type="radio" id="staff" value="staff" ng-model="newQuestion.patronGroup.staff"/>
      <label for="staff">Staff</label>
    </p>
    <p>
      <input class="with-gap" name="patronGroup" type="radio" id="gradstudent" value="gradstudent" ng-model="newQuestion.patronGroup.gradstudent" />
      <label for="gradstudent">Graduate student</label>
    </p>
    <p>
      <input class="with-gap" name="patronGroup" type="radio" id="undergrad" value="undergrad" ng-model="newQuestion.patronGroup.undergrad" />
      <label for="undergrad">Undergraduate student</label>
    </p>
    <p>
      <input class="with-gap" name="patronGroup" type="radio" id="community" value="community" ng-model="newQuestion.patronGroup.community" />
      <label for="community">Community member</label>
    </p>
  </form>
</div>

<div class=timeSpent>
  <h6>Time Spent</h6>
  <form action="#">
    <p>
      <input name="timeSpent" type="radio" id="time1" value="0-10 minutes" ng-model="newQuestion.timeSpent.time1" />
      <label for="time1">0-10 minutes</label>
    </p>
    <p>
      <input name="timeSpent" type="radio" id="time2" value="10-20 minutes" ng-model="newQuestion.timeSpent.time2"/>
      <label for="time2">10-20 minutes</label>
    </p>
    <p>
      <input class="timeSpent" name="timeSpent" type="radio" id="time3" value="more than 20 minutes" ng-model="newQuestion.timeSpent.time3" />
      <label for="time3">20+ minutes</label>
    </p>
  </form>
</div>

<div class="referral">
  <h6>Referral necessary</h6>
  <form action="#">
    <p>
      <input name="referral" type="radio" id="referyes" value="Yes" ng-model="newQuestion.referral.yes"/>
      <label for="referyes">Yes</label>
    </p>
    <p>
      <input name="referral" type="radio" id="referno" value="No" ng-model="newQuestion.referral.no" />
      <label for="referno">No</label>
    </p>
  </form>
</div>

<button class="btn waves-effect waves-light" type="submit" name="Add New Question" ng-click="addNewQuestion()">{{submitButtonText}}
  <i class="material-icons right"></i>
</button>
</div>


<!-- <div class="input-field col s6">
    <select>
      <option value="" >Patron Type</option>
      <option value="1">Faculty</option>
      <option value="2">Staff</option>
      <option value="3">Graduate Student</option>
      <option value="2">Undergraduate Student </option>
    </select>
    <label>Patron type</label>
  </div>
 -->
<!-- <h5>time input??</h5>

  <div class="input-field col s6">
    <select>
      <option value="" >Time spent</option>
      <option value="1">0-10 minutes</option>
      <option value="2">10-20 minutes</option>
      <option value="3">20+ minutes</option>
    </select>
    <label>Time spent</label>
  </div> -->